*{
  margin:0;
  padding:0;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.pointer{
  cursor: pointer;
}

.display_flex{
  display: flex;
}

.headerLeft{
  margin-top:5px;
  margin-left:35px;
}

.headerLeft img{
  margin-right:3px;
}

.headerMiddle{
  background-color:rgb(216, 212, 212);
  width: 640px;
  padding:5px;
  margin-top: 10px;
  border-radius: 7px;
}

.headerMiddle img{
    padding: 3px;
}

.headerMiddle input{
    border: none;
    width: 560px;
    font-size: 15px;
    background-color:transparent;
}

.headerRight{
  margin-top: 20px;
}

.headerRight img{
  margin-right:10px;
}

.sidebar{
    max-width: 222px;
    padding-right: 15px;
}

.sidebarCompose{
    margin: 7px 0px 10px 10px;
    color: rgb(80, 77, 77);
    padding: 14px;
    width: 146px;
    font-size: 13px;
    border-radius: 13px;
    background-color: white;
    border: 1px solid rgb(128, 127, 127);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.sidebarCompose img{
    margin-right: 5px;
    align-items: center;
}

.sidebarOption{
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebarOption img{
    padding: 5px;
    margin-left: 8px;
}

.sidebarOption h4{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 200;
}

.sidebarOption:hover,
.sidebarOption:hover h4
{
    background-color:rgb(216, 212, 212);
    color: rgb(80, 77, 77);  
    font-weight: 200;                            
}

.sidebarOption_active{
    background-color: rgb(216, 212, 212);
    border-width: 3px;
    color: rgb(87, 82, 82);
}

.sidebarOption_active img{
    color: rgb(87, 82, 82);
    image-rendering: pixelated;
}

.sidebar_footer{
    justify-content: center;
}

.sidebar_footer h4{
    margin-left: 10px;
    padding: 20px;
    color: rgb(80, 77, 77);
    font-size: 13px;
    font-weight: 400;
}

.sidebar_footer img{
    padding: 28px;
    margin-left: 55px;
}

.main{
    margin-top:10px;
}

body{
    width: 1351px;
    background-color:whitesmoke;
    font-size: 14px;
}

.emailList{
    width: 400px;
    border-radius: 20px;
}

.emailList_scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    width:1124px;
    height: 530px;
}

.emailList_settings{
    position: sticky;
    justify-content: space-between;  
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    z-index: 999;
    padding: 10px;
    width:1124px;
}

.emailList_settingsLeft{
    align-items: center;
}

.emailList_settings img{
    margin: 5px;
}

.emailList_settingsRight{
    align-items: center;
}

.emailList_settingsRight p{
    color: rgb(158, 152, 152);
    font-size: 13px;
    margin-top:10px;
    border: 1px;
    border-radius: 5px;    
}

.emailList_settingsRight img{
    margin: 5px;
}

.section{
    align-items: center;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
    min-width: 190px;
    color: gray;
}

.emailList_list{
    background-color: white;   
}

.emailList_sections{
    position: sticky;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.section_selected{
    background-color: white;
    border-width: 3px;
    color: rgb(55, 55, 211);
    border-bottom: 3px solid rgb(55, 55, 201);
}

.section_selected img{
    color:blue;
}

.section:hover{
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4{
    margin-left: 15px;
    font-size: 14px;
    font-weight:bold;
}

.emailRow_options{
    align-items: center;
}

.emailRow_options img, input{
    margin: 5px;
}

.emailRow{
    align-items: center;
    padding:5px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
    margin-left: 5px;
}

.emailRow:hover{
    border-bottom: 1px;
    box-shadow: 2px 2px 5px rgb(196, 191, 191);
}

.emailList_message{
    margin-left: 95px;
    font-size: 13px;
}

.emailList_message h4{
    width: 600px;
    font-size:14px;
    font-weight:400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
}

.emailRow_title{
    font-size: 14px;
}

.emailRow_time{
    padding-right: 15px;
    font-size: 11px;
    margin-left: 215px;
}

.emailRow_description{
    font-size: 13px;
    color: gray;
}